@font-face {
  font-family: 'dtc-font';
  src: url("../../assets/Complete in Him.ttf"); }

.main-title {
  font-family: 'dtc-font', sans-serif;
  color: #449dba;
  font-size: 7rem;
  height: auto;
  margin: 3rem auto; }

.main-body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  padding: 0 2rem;
  color: #615d5d;
  overflow: scroll;
  overflow-wrap: normal;
  max-height: 25rem;
  text-overflow: fade; }

.main-container {
  width: 86vw;
  height: 100vh;
  background: no-repeat center/100em url("../../images/dtc7.jpg");
  padding: 2rem 0 0 0; }

.display-card {
  height: 82vh;
  width: 62vw;
  margin: auto auto 3rem auto;
  border: solid 0.4rem whitesmoke;
  border-radius: 0.15rem;
  background-color: rgba(245, 245, 245, 0.666); }
