@font-face {
  font-family: 'dtc-font';
  src: url('../../assets/Complete in Him.ttf');
}

.main-title {
  font-family: 'dtc-font', sans-serif;
  color: #449dba;
  font-size: 6rem;
  height: auto;
  margin: 1rem auto 0.5rem auto;
}

.main-body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.7rem;
  padding: 0 3rem;
  color: #615d5d;
  overflow: scroll;
  overflow-wrap: normal;
  max-height: 35rem;
}

.display-card {
  height: 82vh;
  width: 62vw;
  margin: auto;
  border: solid 0.4rem whitesmoke;
  border-radius: 0.15rem;
  background-color: rgba($color: whitesmoke, $alpha: 0.666);
}
