$teal: #047177;

.main-logo {
  font-family: 'dtc-font', sans-serif;
  color: $teal;
  font-size: 4rem;
  content: url('../../images/DressTheChild_FinalLogo.svg');
  height: 11rem;
  margin: 3rem auto;
}

.home-title {
  font-family: 'helvetica', sans-serif;
  font-weight: 550;
  font-size: 2.2rem;
  color: whitesmoke;
  margin: 20rem auto 3rem auto;
}

.donate-btn {
  color: $teal;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid $teal;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 0.15rem;
  cursor: pointer;
  background: whitesmoke;
  transition: 0.5s;
}

.donate-btn:hover {
  color: whitesmoke;
  border: 0.1rem solid whitesmoke;
  background: $teal;
}

.donate-btn:active {
  color: $teal;
  border: 0.1rem solid $teal;
  background: whitesmoke;
}
