.main-logo {
  font-family: 'dtc-font', sans-serif;
  color: #449dba;
  font-size: 4rem;
  content: url('../../images/DressTheChild_FinalLogo.svg');
  height: 11rem;
  margin: 3rem auto;
}

.home-title {
  font-family: 'helvetica', sans-serif;
  font-weight: 550;
  font-size: 2.2rem;
  color: whitesmoke;
  margin: 25rem auto 3rem auto;
}

.donate-btn {
  color: whitesmoke;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid whitesmoke;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 0.15rem;
  cursor: pointer;
}

.donate-btn:hover {
  color: #3574b6;
  border: 0.1rem solid #3574b6;
}
