$teal: #047177;

.donate-form {
  width: 20rem;
  margin: 1rem auto;
}

.cc-input {
  width: 293px;
  margin: 0.5rem 0;
  font-size: 0.8rem;
  background-color: white;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.cc-input:disabled {
  background-color: lightgray;
}
.first-name-cc {
  margin: 0 0 0.5rem 0;
}

.StripeElement {
  margin: 0.5rem 0;
  width: auto;
  background-color: white;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.submit-btn {
  color: $teal;
  padding: 0.3rem 1.3rem;
  border: 0.1rem solid $teal;
  font-size: 1.7rem;
  text-decoration: none;
  border-radius: 0.15rem;
  cursor: pointer;
  background: whitesmoke;
  margin-top: -20px;
}

.submit-btn:hover {
  color: whitesmoke;
  border: 0.1rem solid whitesmoke;
  background: $teal;
}

.submit-btn:active {
  color: $teal;
  border: 0.1rem solid $teal;
  background: whitesmoke;
}

.email-msg {
  font-size: 0.9rem;
  color: black;
  margin: 0;
}

.processing-msg {
  font-size: 0.9rem;
  width: auto;
  margin: 0.1rem 0;
  color: black;
}

.donation-msg {
  font-size: 1rem;
}

.transaction-msg {
  font-size: 0.9rem;
  width: auto;
  margin: 0.1rem 0;
}

.final-donation-msg {
  font-size: 1rem;
  width: auto;
  margin: 0.1rem 0;
}

.final-total {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 1.3rem 0;
}

.first-name {
  text-transform: capitalize;
}

.loading-gif {
  margin-top: 2rem;
  background: no-repeat center/200px url('../../images/loading-gif.gif');
  width: 400px;
  height: 400px;
  margin: auto;
}

.thanks-msg {
  font-weight: 300;
}

.error-msg {
  font-weight: 300;
}

.anonymous-text {
  margin: 0 0 0.1rem 0;
  font-size: 0.9rem;
}

.anonymous-section {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
