.donate-form {
  width: 20rem;
  margin: auto; }

.cc-input {
  width: 293px;
  margin: 0.5rem 0;
  font-size: 0.8rem;
  background-color: white;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; }

.StripeElement {
  margin: 0.5rem 0;
  width: auto;
  background-color: white;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; }

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df; }

.StripeElement--invalid {
  border-color: #fa755a; }

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important; }

.submit-btn {
  color: #d9318a;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid #d9318a;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 0.15rem;
  cursor: pointer;
  background: none; }

.submit-btn:hover {
  color: #3574b6;
  border: 0.1rem solid #3574b6; }

.email-msg {
  font-size: 0.8rem;
  color: gray;
  margin: 0; }
