.navMain {
  width: 15em;
  height: 100vh;
  border-right: 1px solid grey; }

.navLogo {
  background: no-repeat center/10rem url("../../images/DressTheChild_noPants-01.svg");
  height: 10rem;
  width: 100%; }

img {
  height: 5em; }

.NavMain-buttons {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0; }

li {
  list-style-type: none;
  padding: 10px; }

a {
  text-decoration: none;
  padding-left: 20px; }

a:hover {
  border-left: 1px black solid;
  background: rgba(0, 0, 0, 0.1); }

ul {
  margin: 0; }
