.navMain {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navLogo {
  background: no-repeat center/10rem
    url('../../images/DressTheChild_noPants-01.svg');
  height: 10rem;
  width: 100%;
}

img {
  height: 5em;
}

.NavMain-buttons {
  display: flex;
  flex-direction: row;
  text-align: right;
  width: 100vw;
  padding: 0;
}

.NavMain-a {
  text-decoration: none;
  color: whitesmoke;
}

.NavMain-a:hover {
  border-left: 2px black solid;
  padding-left: 28px;
}

.Nav-item {
  width: 10rem;
  text-align: center;
}

.donate:hover {
  border-left: 2px rgb(237, 27, 35) solid;
  padding-left: 35px;
}

.about:hover {
  border-left: 2px rgb(0, 174, 239) solid;
  padding-left: 35px;
}

.mission:hover {
  border-left: 2px rgb(126, 62, 151) solid;
  padding-left: 35px;
}

.partners:hover {
  border-left: 2px rgb(228, 0, 136) solid;
  padding-left: 35px;
}
