.navMain {
  width: 15em;
  height: 100vh;
  background-color: pink; }

.navLogo {
  background: no-repeat center/10rem url("../../images/DressTheChild_noPants-01.svg");
  height: 10rem;
  width: 100%; }

img {
  height: 5em; }

.NavMain-buttons {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  border-left: 1px black solid; }
