.navMain {
  width: 15em;
  height: 100vh;
  border-right: 1px solid grey;
  margin: 0; }

.navLogo {
  background: no-repeat center/10rem url("../../images/DressTheChild_noPants-01.svg");
  height: 10rem;
  width: 100%; }

img {
  height: 5em; }

.NavMain-buttons {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-inline-start: 0; }

li {
  list-style-type: none;
  padding: 10px 0 10px 0; }

.NavMain-a {
  text-decoration: none;
  padding-left: 37px;
  color: grey; }

a:hover {
  border-left: 2px black solid;
  padding-left: 35px; }
