.app {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
}

.horizontal-rule {
  display: block;
  border: none;
  color: rgba(255, 255, 255, 0.3);
  height: 0.3rem;
  background: whitesmoke;
  width: 80%;
  margin: auto;
}

.nav-main {
  display: flex;
  margin: 0;
}
