body {
  background-color: #282c34; }

.App {
  text-align: center;
  color: white;
  height: auto;
  width: auto;
  background-color: #282c34; }

.App-header {
  background-color: #282c34;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.donate-btn {
  width: 5rem; }
