.app {
  text-align: center;
  height: 100vh;
  width: auto;
  background-image: linear-gradient(to bottom, #e6ebf2, #6dd4d9, #45c6a3, #5fb258); }

.app-header {
  background: no-repeat center/80% url("../../images/DressTheChild_FinalLogo.svg");
  height: 15rem; }
