.event-details-item {
  list-style-type: none;
  width: 100%;
  margin: auto;
  padding-bottom: 0.7rem;
  font-size: 2rem;
}

.ticket-title {
  margin-top: 7rem;
}

p.ticket-text {
  text-align: center;
  width: auto;
  font-size: 1.5rem;
  padding: 0 3rem;
}

.fa {
  margin-right: 0.5rem;
}

.main-body-title {
  font-size: 2.5rem;
}

.display-card {
  color: #2d313d;
}

.events-card {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 1000px) {
  p.ticket-text {
    font-size: 1.3rem;
  }
  .ticket-title {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 800px) {
  .main-body-title {
    font-size: 2rem;
  }
  .event-details-item {
    font-size: 1.2rem;
  }

  ul.event-details-list {
    text-align: left;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 1.5rem;
  }

  p.ticket-text {
    font-size: 1rem;
  }

  .ticket-title {
    font-size: 1rem;
    margin-top: 14rem;
  }
}

@media only screen and (max-width: 680px) {
  .main-body-title {
    font-size: 1.8rem;
  }
  .event-details-item {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .main-body-title {
    font-size: 1.6rem;
  }
  .event-details-item {
    font-size: 1.2rem;
  }
}
