.main-body-volunteer {
  color: #2d313d;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #111111;
  overflow: scroll;
  overflow-wrap: normal;
  max-height: 40rem;
  padding: 0 2rem 1rem 2rem;
}

.shopping-event-list {
  text-align: left;
  text-decoration: none;
}

.shopping-event-list-item {
  font-weight: 600;
  list-style-type: none;
  padding: 0.3rem 2rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.main-body-title {
  font-weight: 300;
  font-size: 3rem;
}

.volunteer-card {
  overflow: scroll;
}

.contact-msg {
  font-size: 1rem;
  margin: 0 3rem;
}

@media only screen and (max-width: 1600px) {
  .main-body-volunteer {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1100px) {
  .main-body-volunteer {
    font-size: 1.3rem;
  }
  .shopping-event-list-item {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 800px) {
  .main-body-volunteer {
    font-size: 0.8rem;
  }
  .shopping-event-list-item {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 800px) {
  .main-body-volunteer {
    font-size: 0.8rem;
  }
  .shopping-event-list-item {
    font-size: 1rem;
  }
}
