.main-body-volunteer {
  color: #2d313d;
  font-size: 2rem;
  margin: 2rem 3rem;
}

.shopping-event-list {
  width: 38rem;
  font-weight: 300;
}

.main-body-title {
  font-weight: 300;
  font-size: 3rem;
}
